<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0 maximum-scale=1.0; user-scalable=0;">
<link rel="stylesheet" href="animate/animate.css">
  <link rel="stylesheet" href="css/teacher.css">
  <link href='https://fonts.googleapis.com/css?family=Righteous' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lilita+One|Righteous" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<title>teacher</title>
